*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    min-height: 500vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar{
    width: 90%;
    height: 80px;
    display: flex;
    align-items: center;   
    justify-content: space-between; 
    padding: 0 20px;
}
.collection{
    margin-right: 300px;
}
.collection , .collection__2{
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    gap: 20px;
}
.collection__2 i{
    font-size: 20px;     
}
.item{
    padding: 5px;
    border-radius: 20px;
}
.item:hover{
    background: #000;
    color: #fff;

}
.banner{
    width: 90%;
    min-height: 630px;
}
.neoqled{
    background: url(./neo\ qled.webp) no-repeat center/cover;
}
.mobiles{
    width: 90%;
    min-height: 730px;
    background: url(./mobiles.for\ banner.webp) no-repeat center/cover;
}
section{
    margin: 230px 0 0 740px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.btn{
    padding: 12px 0;
    width: 150px;
    color: #fff;
    background: #000;
    border-radius: 20px;
    border: none;
}
.btn:hover{
    background: #999;
}
section h1{
    font-size: 50px;
}
.collection__mobiles{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}
.mobiles__header{
    text-align: center;
    font-size: 45px;
    padding: 20px;
}
.collection__mobiles{
    font-size: 18px;
    font-weight: 500;
}
.item__mobiles:hover{
    border: #000 dotted;
    border-radius: 20px;    
}

